.btn-submit{
    background-color: #5e524b;
    color:white;
    font-weight: 450;
    width:fit-content;
}

.btn-reset{
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    font-weight: 450;
    width:fit-content;
    color: black;
}

.btn-reset:focus{
    background-color: #cabcb3;
    border-color: black;
    border-width: 1px;
    font-weight: 450;
    width:fit-content;
    color: black;
}